<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="net.hillsdon.eclipse.terminator.view.TerminatorView"
            icon="icons/terminator-16.png"
            id="net.hillsdon.eclipse.terminator.view.TerminatorView"
            name="Terminator"
            allowMultiple="true"
            >
      </view>
   </extension>

<extension point="org.eclipse.ui.commands">
      <category
            name="terminator"
            id="net.hillsdon.eclipse.terminator.category"/>
      <command
            categoryId="net.hillsdon.eclipse.terminator.category"
            name="Open terminal view for the current selection"
            id="net.hillsdon.eclipse.terminator.open"/>
      <command
            categoryId="net.hillsdon.eclipse.terminator.category"
            name="Copy"
            id="net.hillsdon.eclipse.terminator.edit.copy"/>
      <command
            categoryId="net.hillsdon.eclipse.terminator.category"
            name="Copy"
            id="net.hillsdon.eclipse.terminator.edit.paste"/>
      <command
            categoryId="net.hillsdon.eclipse.terminator.category"
            name="Clear Scrollback"
            id="net.hillsdon.eclipse.terminator.edit.clearScrollback"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         <key
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M1+M3+S"
               commandId="net.hillsdon.eclipse.terminator.open"/>
         <key
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M1+Shift+C"
               commandId="net.hillsdon.eclipse.terminator.edit.copy"/>
         <key
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M1+Shift+V"
               commandId="net.hillsdon.eclipse.terminator.edit.paste"/>
         <key
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M1+Shift+K"
               commandId="net.hillsdon.eclipse.terminator.edit.clearScrollback"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Terminator Actions"
            visible="true"
            id="net.hillsdon.eclipse.terminator.actionSet">
         <action
               class="net.hillsdon.eclipse.terminator.actions.OpenTerminatorAction"
               icon="icons/terminator-16.png"
               id="net.hillsdon.eclipse.terminatorOpenShellAction"
               label="Open terminal"
               toolbarPath="org.eclipse.ui.workbench.navigate/history.group"
               definitionId="net.hillsdon.eclipse.terminator.open"
               tooltip="Open terminal view for the current selection"/>
      </actionSet>
   </extension>
 
   <extension
         point="org.eclipse.ui.preferencePages">
      <page 
            class="net.hillsdon.eclipse.terminator.preferences.TerminatorPreferencePage"
            id="net.hillsdon.eclipse.terminator.preferences.TerminatorPreferencePage"
            name="Terminator">
      </page>
      <page category="net.hillsdon.eclipse.terminator.preferences.TerminatorPreferencePage"
            class="net.hillsdon.eclipse.terminator.preferences.FontAndColorsPreferencePage"
            id="net.hillsdon.eclipse.terminator.preferences.ColorsPreferencePage"
            name="Fonts and Colors">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.hillsdon.eclipse.terminator.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
